body {
    background: rgb(232,255,0);
    background: linear-gradient(90deg, rgba(232,255,0,1) 0%, rgba(0,241,255,1) 38%, rgba(255,0,202,1) 71%, rgba(255,0,0,1) 100%);
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(255, 0, 64), rgb(238, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }